[submodule "vendor/dragnet"]
	path = vendor/dragnet
	url = https://drnewman@bitbucket.org/drnewman/dragnet.git
[submodule "vendor/mea-import"]
	path = vendor/mea-import
	url = https://drnewman@bitbucket.org/drnewman/mea-client.git
