target/
tmp/
logs/
vendor/
.lein-repl-history
.vagrant
config/datomic.properties
db/*.csv
config/*.properties
.idea/
*.sw*
resources/*.csv
.DS_Store
.lein-failures
vendor/datomic-console-0.1.172/
out.txt
