[submodule "vendor/dragnet"]
	path = vendor/dragnet
	url = git@10.170.100.132:/var/webapps/dragnet-development/.git
[submodule "vendor/mea-import"]
	path = vendor/mea-import
	url = git@10.170.100.132:mea-import.git
