[
 {:db/id #db/id[:db.part/mea -167]
  :db/ident :assignment.type/level-to}
 {:db/id #db/id[:db.part/mea -168]
  :db/ident :assignment.type/assign-to}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The user associated with the assignment",
  :db/id #db/id[:db.part/db -166],
  :db/ident :assignment/type}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/many,
  :db/doc "The assignments associated with a domain",
  :db/id #db/id[:db.part/db -169],
  :db/ident :domain/assignments}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The user associated with the assignment",
  :db/id #db/id[:db.part/db -165],
  :db/ident :assignment/user}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The level associated with the assignment",
  :db/id #db/id[:db.part/db -164],
  :db/ident :assignment/level}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/many,
  :db/doc "The assignments of the user",
  :db/id #db/id[:db.part/db -163],
  :db/ident :user/assignments}
 {:db/valueType :db.type/string,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The email of the user",
  :db/id #db/id[:db.part/db -161],
  :db/ident :user/email}
 {:db/valueType :db.type/string,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The name of the user",
  :db/id #db/id[:db.part/db -160],
  :db/ident :user/name}
 {:db/valueType :db.type/long,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The id of the user",
  :db/id #db/id[:db.part/db -159],
  :db/unique :db.unique/identity,
  :db/ident :user/id}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/many,
  :db/doc "The graduations that belong to a domain",
  :db/id #db/id[:db.part/db -162],
  :db/ident :domain/graduations}
 {:db/valueType :db.type/string,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The name of a graduation",
  :db/id #db/id[:db.part/db -158],
  :db/ident :graduation/name}
 {:db/valueType :db.type/keyword,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/unique :db.unique/identity,
  :db/doc "The ident of a graduation",
  :db/id #db/id[:db.part/db -157],
  :db/ident :graduation/ident}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/many,
  :db/doc "The levels of a graduation",
  :db/id #db/id[:db.part/db -156],
  :db/ident :graduation/levels}
 {:db/valueType :db.type/string,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/unique :db.unique/value,
  :db/doc "The code of a level",
  :db/id #db/id[:db.part/db -155],
  :db/ident :level/code}
 {:db/valueType :db.type/string,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The description of a level",
  :db/id #db/id[:db.part/db -154],
  :db/ident :level/description}
 {:db/valueType :db.type/ref,
  :db/isComponent false,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The parent of a level (another level or nil)",
  :db/id #db/id[:db.part/db -152],
  :db/ident :level/parent}
 {:db/valueType :db.type/ref,
  :db/isComponent true,
  :db.install/_attribute :db.part/db,
  :db/cardinality :db.cardinality/one,
  :db/doc "The level of the moment",
  :db/id #db/id[:db.part/db -153],
  :db/ident :moment/level}]
