[
 ;; Participants
 {:db/id #db/id[:db.part/db]
   :db/ident :participant/participant-id
   :db/valueType :db.type/uuid
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/value
   :db/doc "A unique external ID for Patients"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/vista-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/identity
   :db/fulltext true
   :db/doc "The patient's name as seen in VistA (unique, upsertable)"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/vista-key
   :db/valueType :db.type/long
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/value
   :db/doc "The unique value of PATIENT.PATIENT_KEY from the VistA datawarehouse"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/first-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/index true
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/last-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/index true
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/middle-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/index true
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/dob
   :db/valueType :db.type/instant
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/sex
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;; sexes
  [:db/add #db/id[:db.part/user] :db/ident :participant.sex/male]
  [:db/add #db/id[:db.part/user] :db/ident :participant.sex/female]

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/address
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/phones
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/emails
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/studies
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "A list of studies the particpant is a part of"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :participant/measurements
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "A list of measurements taken on the pariticpants"
   :db.install/_attribute :db.part/db}

  ;; Phones
  {:db/id #db/id[:db.part/db]
   :db/ident :phone/name
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :phone/value
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;; Emails
  {:db/id #db/id[:db.part/db]
   :db/ident :email/name
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :email/value
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;; Studies
  {:db/id #db/id[:db.part/db]
   :db/ident :study/keyword
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db/unique :db.unique/value
   :db/doc "The reference name"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :study/human-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "A more user friendly name"
   :db.install/_attribute :db.part/db}

  ;; Metrics (Types of measurements)
  {:db/id #db/id[:db.part/db]
   :db/ident :metric/name
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :metric/human-name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :metric/description
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :metric/unit
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :metric/reference-range
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;; Measurements (metric instances)
  {:db/id #db/id[:db.part/db]
   :db/ident :measurements/metric
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :measurements/participant
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :measurement/time
   :db/valueType :db.type/instant
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :measurement/value
   :db/valueType :db.type/double
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}
]

;; Scheduling Entities
[
  ;; Events
 {:db/id #db/id[:db.part/db]
  :db/ident :event/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/starts-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/ends-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/location
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 ;; Event Types
 {:db/id #db/id[:db.part/db]
  :db/ident :event/name
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/human-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :event/entity-types
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Other types of entities that can be associated with this event type"
  :db.install/_attribute :db.part/db}

 ;; Personnel
]
