;; some studies
;; GRADE Study
[
  [:db/add #db/id[:db.part/mea -2] :study/keyword :grade]
  [:db/add #db/id[:db.part/mea -2] :study/name "GRADE"]
]

;; GRADE Attributes Meta Information
[
  [:db/add #db/id[:db.part/mea -3] :study.attribute/keyword :ppt/grade/pid]
  [:db/add #db/id[:db.part/mea -3] :study.attribute/name "PID"]
  [:db/add #db/id[:db.part/mea -3] :study.attribute/description "GRADE Participant ID"]

  [:db/add #db/id[:db.part/mea -4] :study.attribute/keyword :ppt/grade/gcode]
  [:db/add #db/id[:db.part/mea -4] :study.attribute/name "GCODE"]
  [:db/add #db/id[:db.part/mea -4] :study.attribute/description "GRADE GCODE"]

  [:db/add #db/id[:db.part/mea -5] :study.attribute/keyword :ppt/grade/dx_date]
  [:db/add #db/id[:db.part/mea -5] :study.attribute/name "Dx Date"]
  [:db/add #db/id[:db.part/mea -5] :study.attribute/description "Date the patient was diagnosed with Diabetes"]

  [:db/add #db/id[:db.part/mea -6] :study.attribute/keyword :ppt/grade/init_metformin_dose]
  [:db/add #db/id[:db.part/mea -6] :study.attribute/name "Init. Met. Dose"]
  [:db/add #db/id[:db.part/mea -6] :study.attribute/description "Metformin dose at screening"]

  [:db/add #db/id[:db.part/mea -7] :study.attribute/keyword :ppt/grade/ethnicity]
  [:db/add #db/id[:db.part/mea -7] :study.attribute/name "Ethnicity"]
  [:db/add #db/id[:db.part/mea -7] :study.attribute/description "Enthicity of Patient, Mother, and Father"]
]

;; add attributes to study
[
  [:db/add [:study/keyword :grade] :study/attributes [:study.attribute/keyword :ppt/grade/pid]]
  [:db/add [:study/keyword :grade] :study/attributes [:study.attribute/keyword :ppt/grade/gcode]]
  [:db/add [:study/keyword :grade] :study/attributes [:study.attribute/keyword :ppt/grade/dx_date]]
  [:db/add [:study/keyword :grade] :study/attributes [:study.attribute/keyword :ppt/grade/init_metformin_dose]]
  [:db/add [:study/keyword :grade] :study/attributes [:study.attribute/keyword :ppt/grade/ethnicity]]
]

;; The GRADE partition, entities, and participant attributes
[
 {:db/id #db/id[:db.part/db]
  :db/ident :db.part.study/grade
  :db.install/_partition :db.part/db}
]

[
 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/pid
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "A GRADE participants unique participant ID"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/gcode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "A GRADE participants unique GCODE"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/rand_date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The participant's randomization date for GRADE"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/rand_group
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The group the participant was randomized into for GRADE"
  :db.install/_attribute :db.part/db}

  ;; study groups
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.rand_group/glargine]
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.rand_group/sitagliptin]
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.rand_group/liraglutide]
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.rand_group/glimepiride]

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/dx_date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The date the participant was diagnosed with diabetes"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/init_metformin_dose
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The participant's initial metformin dose at the time of screening"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade/ethnicity
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :db/doc "Enthicity of Patient, Mother, and Father"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade.ethnicity/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The patient's ethnicity type"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/grade.ethnicity/relation
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The relationship to the patient (self, mother, father)"
  :db.install/_attribute :db.part/db}

  ;; ethnicities relations
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.ethnicity.relation/self]
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.ethnicity.relation/mother]
  [:db/add #db/id[:db.part.study/grade] :db/ident :ppt/grade.ethnicity.relation/father]
]

;; some metrics to start with for GRADE
[
  [:db/add #db/id[:db.part.study/grade -1] :metric/keyword :a1c]
  [:db/add #db/id[:db.part.study/grade -1] :metric/name "HbA1c"]
  [:db/add #db/id[:db.part.study/grade -1] :metric/unit "%"]
  
  [:db/add #db/id[:db.part.study/grade -2] :metric/keyword :serum-creatinine]
  [:db/add #db/id[:db.part.study/grade -2] :metric/name "Serum Creatinine"]
  [:db/add #db/id[:db.part.study/grade -2] :metric/unit "mg/dL"]
  
  [:db/add #db/id[:db.part.study/grade -3] :metric/keyword :urine-creatinine]
  [:db/add #db/id[:db.part.study/grade -3] :metric/name "Urine Creatinine"]
  [:db/add #db/id[:db.part.study/grade -3] :metric/unit "mg/dL"]
  
  [:db/add #db/id[:db.part.study/grade -4] :metric/keyword :height]
  [:db/add #db/id[:db.part.study/grade -4] :metric/name "Height"]
  [:db/add #db/id[:db.part.study/grade -4] :metric/unit "cm"]
  
  [:db/add #db/id[:db.part.study/grade -5] :metric/keyword :weight]
  [:db/add #db/id[:db.part.study/grade -5] :metric/name "Weight"]
  [:db/add #db/id[:db.part.study/grade -5] :metric/unit "kg"]
  
  [:db/add #db/id[:db.part.study/grade -6] :metric/keyword :hip-circumference]
  [:db/add #db/id[:db.part.study/grade -6] :metric/name "Hip Circumference"]
  [:db/add #db/id[:db.part.study/grade -6] :metric/unit "cm"]
  
  [:db/add #db/id[:db.part.study/grade -7] :metric/keyword :waist-circumference]
  [:db/add #db/id[:db.part.study/grade -7] :metric/name "Waist Circumference"]
  [:db/add #db/id[:db.part.study/grade -7] :metric/unit "cm"]
]

;; CONFIRM Study
[
  [:db/add #db/id[:db.part/mea -8] :study/keyword :confirm]
  [:db/add #db/id[:db.part/mea -8] :study/name "CONFIRM"]
]

;; CONFIRM Attributes Meta Information
[
  [:db/add #db/id[:db.part/mea -9] :study.attribute/keyword :ppt/confirm/pid]
  [:db/add #db/id[:db.part/mea -9] :study.attribute/name "PID"]
  [:db/add #db/id[:db.part/mea -9] :study.attribute/description "CONFIRM Participant ID"]
]

;; add attribute to study
[
  [:db/add [:study/keyword :confirm] :study/attributes [:study.attribute/keyword :ppt/confirm/pid]]
]

;; The CONFIRM partition, entities, and participant attributes
[
 {:db/id #db/id[:db.part/db]
  :db/ident :db.part.study/confirm
  :db.install/_partition :db.part/db}
]

[
 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/confirm/pid
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "A CONFIRM participants unique participant ID"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/confirm/rand_date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The participant's randomization date for CONFIRM"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :ppt/confirm/rand_group
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "The group the participant was randomized into for CONFIRM"
  :db.install/_attribute :db.part/db}

  ;; study groups
  [:db/add #db/id[:db.part.study/confirm] :db/ident :ppt.rand_group/fit]
  [:db/add #db/id[:db.part.study/confirm] :db/ident :ppt.rand_group/colonoscopy]
]

;; VistA Attributes
[
  {:db/id #db/id[:db.part/db]
   :db/ident :ppt/vista/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/fulltext true
   :db/doc "The patient's name as seen in VistA (unique, upsertable)"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :ppt/vista/patient_key
   :db/valueType :db.type/long
   :db/cardinality :db.cardinality/one
   :db/doc "The unique value of PATIENT.PATIENT_KEY from the VistA datawarehouse"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :ppt/vista/f1u4n
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "The value of PATIENT.f1u4n from the VistA datawarehouse"
   :db.install/_attribute :db.part/db}
]

